//
// Grid system
// ----------------------------------------------------

/* 响应式容器 */
.container {
	.container-fluid();
	
}
/* 固定宽度的容器 960px*/
.container-fixed {
	.container-fixed();
}
/* 行 左右负margin，消去container的左右padding */
.row {
	.make-row();
}

/* grid 栅栏 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20 {
	float: left;
	position: relative;
	// Prevent columns from collapsing when empty
	min-height: 1px;
	// Inner gutter via padding
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
}

.grid-1 { width: percentage((1 / @grid-columns)); }
.grid-2 { width: percentage((2 / @grid-columns)); }
.grid-3 { width: percentage((3 / @grid-columns)); }
.grid-4 { width: percentage((4 / @grid-columns)); }
.grid-5 { width: percentage((5 / @grid-columns)); }
.grid-6 { width: percentage((6 / @grid-columns)); }
.grid-7 { width: percentage((7 / @grid-columns)); }
.grid-8 { width: percentage((8 / @grid-columns)); }
.grid-9 { width: percentage((9 / @grid-columns)); }
.grid-10 { width: percentage((10 / @grid-columns)); }
.grid-11 { width: percentage((11 / @grid-columns)); }
.grid-12 { width: percentage((12 / @grid-columns)); }
.grid-13 { width: percentage((13 / @grid-columns)); }
.grid-14 { width: percentage((14 / @grid-columns)); }
.grid-15 { width: percentage((15 / @grid-columns)); }
.grid-16 { width: percentage((16 / @grid-columns)); }
.grid-17 { width: percentage((17 / @grid-columns)); }
.grid-18 { width: percentage((18 / @grid-columns)); }
.grid-19 { width: percentage((19 / @grid-columns)); }
.grid-20 { width: 100%;}

// Offsets
  .grid-offset-1  { margin-left: percentage((1 / @grid-columns)); }
  .grid-offset-2  { margin-left: percentage((2 / @grid-columns)); }
  .grid-offset-3  { margin-left: percentage((3 / @grid-columns)); }
  .grid-offset-4  { margin-left: percentage((4 / @grid-columns)); }
  .grid-offset-5  { margin-left: percentage((5 / @grid-columns)); }
  .grid-offset-6  { margin-left: percentage((6 / @grid-columns)); }
  .grid-offset-7  { margin-left: percentage((7 / @grid-columns)); }
  .grid-offset-8  { margin-left: percentage((8 / @grid-columns)); }
  .grid-offset-9  { margin-left: percentage((9 / @grid-columns)); }
  .grid-offset-10 { margin-left: percentage((10/ @grid-columns)); }
  .grid-offset-11 { margin-left: percentage((11/ @grid-columns)); }
  .grid-offset-12 { margin-left: percentage((12/ @grid-columns)); }
  .grid-offset-13 { margin-left: percentage((13/ @grid-columns)); }
  .grid-offset-14 { margin-left: percentage((14/ @grid-columns)); }
  .grid-offset-15 { margin-left: percentage((15/ @grid-columns)); }
  .grid-offset-16 { margin-left: percentage((16/ @grid-columns)); }
  .grid-offset-17 { margin-left: percentage((17/ @grid-columns)); }
  .grid-offset-18 { margin-left: percentage((18/ @grid-columns)); }
  .grid-offset-19 { margin-left: percentage((19/ @grid-columns)); }
  .grid-offset-20 { margin-left: percentage((20/ @grid-columns)); }
  
@media (min-width: @screen-tablet) {
	.container {
		max-width: @container-tablet;
	}
}

@media (min-width: @screen-desktop) {
	.container {
		max-width: @container-desktop;
	}
}

@media (min-width: @screen-lg-desktop) {
	.container {
		max-width: @container-lg-desktop;
	}
}
